@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
nav{
    position:fixed;
    top:0;
    width:100%;
    background-color: #D1D3D4;
}
nav img{
    margin-right: 777px;
    margin-left: 777px;
    }
#main{
    display:flex;
    flex-direction: row;
}
footer{
    display: flex;
    color:aliceblue;
    background-color: gray;
    flex-direction: column;
    align-items: center;
}
.column{
    display:flex;
    flex-direction: column;
}
a{
    font-family:'Roboto',sans-serif;
    text-decoration: none;
    font-size: 45px;
    color:black;
    margin-right: 10px;
}
p{
    font-size:25px;
    font-family: 'Roboto',sans-serif;
}
h1{
    font-size:40px;
    font-family: 'Lato',sans-serif;
}